@page
@model MyRazorApp.Pages.AboutModel
@{
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div>
        <partial name="Shared/NavMenuPartial" />
        <h1>About</h1>
    </div>
</body>
</html>